.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    border: 1vh solid slategray;
}

.block-1, .block-2, .block-3 {
    display: flex;
    flex-direction: row;

}